.task {
  background-color: #ffffff;
  padding: 7px 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: solid 1px #8f8f8f;
  min-height: 100px;
}
.task__controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.task__name {
  flex-grow: 1;
  text-decoration: none;
  color: #000000;
  min-height: 80px;
  width: 75%;
  word-wrap: break-word;
}
.task__delete {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
}

.task__delete img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
