.column__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ebecf0;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  min-width: 282px;
  gap: 20px;
  height: max-content;
  overflow-y: auto;
  max-height: 500px;
}

.column__title {
  font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
}

.column__add {
  color: #5e6c84;
  margin-top: auto;
  cursor: pointer;
  width: 102px;
  background-color: #fff;
  padding-inline: 6px;
  border-radius: 5px;
  border-style: none;
  font-size: 18px;
}
.tasks__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
  overflow-y: auto;
}
