/* src/Components/LoginForm/LoginForm.module.css */
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0079bf;
}
.loginForm__container {
  background-color: #ebecf0;
  width: clamp(17.5rem, 13.571rem + 19.64vw, 31.25rem) !important;
  height: clamp(18.75rem, 14.554rem + 20.98vw, 30.438rem) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 300px;
}
.loginForm__title {
  margin-bottom: 20px;
  color: #0079bf;
}
.formGroup label {
  color: #fff;
  margin-bottom: 5px;
}

.formGroup input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  padding: 10px 20px;
  background-color: #0067a3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #005689;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}
