.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0079bf;
  color: #fff;
  text-align: center;
  height: 100vh;
}

.logout h2 {
  margin-bottom: 20px;
}

.logout p {
  font-size: 18px;
}
